@mixin basicLayoutSticky {
    background-color: $color-purple;
    border: .2em solid $color-blue;
    border-radius: 10px;
    box-shadow: 7px 5px 0 $color-blue;
}


@mixin tapePosition {
    position: absolute;
    width: 45%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
}


@mixin storyTapeUp {
    position: absolute;
    width: 12%;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
    
}

@mixin storyTapeDown {
    position: absolute;
    width: 12%;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(315deg);
}


@mixin tutorialIcon {
     position: absolute;
     left: -120px;
     bottom: -60px;
     width: 50%;
     z-index: 99900;
    }

