@import 'files/colors.scss';
@import 'files/keyframes.scss';

/* the reason for using scale, is so you can transform it and make it scale in and out smoothly. */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* scale makes it invisible by default */
    transition: 200ms ease-in-out;
    background-color: $color-purple;
    border: 1px solid $color-blue;
    width: 500px;
    height: 500px; 
    max-width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2000;
    cursor: auto;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1); /* this scale makes it visible when active */
}

.modal-header {
    font-family: 'Syne Mono', monospace;
    text-transform: uppercase;
    display: flex;
    padding: 0.5em;
    font-size: 1.5em;
    color: $color-blue;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-blue;;
}

/* makes it so nothing changes when you press on the button. */

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
} 

.modal-body {
    padding: 0.3em;
    margin-top: 0.5em;
}

/* gives an overlay to the background image, making the popup more obvious */


#overlay {
    position: fixed; /* will follow around wherever you go */ 
    opacity: 0; 
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none; /* when our overlay is invisible it won't capture our click events. */
}

/* when overlay is active, you can no longer click behind the overlay */

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.cross {
    background: none;
    border: none;
    width: 50px;
    font-size: .7em;
    margin: 0;
    right: 0;
    transition: all 1s ease-out;
    cursor: pointer;
}

.cross:hover {
    background: none;
    border: none;
    width: 50px;
    font-size: .7em;
    margin: 0;
    right: 0;
    color: $color-blue;

    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

  